/* styles.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to bottom right,
    #000810,
    #091e33,
    #2c3e50,
    #34495e,
    #5981a9,
    #34495e,
    #2c3e50,
    #091e33,
    #000810
  );
  color: white;
}

.container {
  text-align: center;
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  transition: transform 1s;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #e74c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border: 2px solid #757575;
  border-radius: 20px;
}

.front {
  transform: rotateY(0deg) translateZ(50px);
}
.back {
  transform: rotateY(180deg) translateZ(50px);
}
.top {
  transform: rotateX(90deg) translateZ(50px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
}
.right {
  transform: rotateY(90deg) translateZ(50px);
}

.vista-button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 4px;
  color: #fff;
  text-shadow: 1px 1px #000;
  box-shadow: inset 0px 4px 4px -3px #fff0, inset 0px -3px 4px -3px #fff;
  background: linear-gradient(#ddd, #999 50%, #000 50%);
  isolation: isolate;
  transition: 0.25s all, 0.1s background-position;
}

.vista-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: radial-gradient(circle at 50% 150%, #e7531d, #0000 50%);
  background-size: 300% 50%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: inherit;
}

.vista-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: radial-gradient(circle at 50% 320%, #48b9ef, #0000 50%);
  background-size: 300% 50%;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: inherit;
}

.vista-button:hover {
  box-shadow: inset 0px 4px 4px -3px #fff5, inset 0px -3px 4px -3px #fff;
}
.vista-button:hover::before,
.vista-button:hover::after {
  opacity: 1;
}

.vista-button:active::before,
.vista-button:active::after {
  opacity: 0;
}

.vista-button:active {
  box-shadow: inset 0px 4px 4px -3px #000, inset 0px -4px 4px -3px #000c,
    inset 0px 0px 24px -3px #000a;
  background-position: 1px 1px;
}

.vista-button div {
  transition: 0.1s translate;
}

.vista-button:active div {
  translate: 1px 1px;
}
